<section class="about_section ">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="img-box">
        {{ content.field_image}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="detail-box">
        <div class="heading_container">
          <h2>
            {{ content.field_title}}
          </h2>
        </div>
        <p>
          {{ content.body}}
        </p>
        <a href="" {{ content.field_botton}}</a>
      </div>
    </div>
  </div>
</div>
</section>
